.line {
  border: 1px solid black;
  row-gap: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.calc-wrapper {
  width: 250px;
}

table {
  border-collapse: collapse;
  border-collapse: separate;
  width: 100%;
}

.calc-wrapper table tr {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
